n8n-workflows/announcement-webhook.json
{
  "name": "Create Announcement",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "announcement",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "announcement-webhook"
    },
    {
      "parameters": {
        "operation": "upsert",
        "projectId": "learn-n-grow-7ef71",
        "database": "(default)",
        "collection": "announcements",
        "documentId": "",
        "upsertFields": {
          "fields": {
            "title": "={{ $json.body.title }}",
            "message": "={{ $json.body.message }}",
            "date": "={{ $json.body.date }}",
            "createdAt": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "firestore",
      "name": "Write to Firestore",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [500, 300],
      "credentials": {
        "googleFirebaseCloudFirestoreApi": "Firebase"
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Announcement created\" } }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Write to Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Firestore": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "announcement-webhook-workflow"
}
